*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Cairo',sans-serif;
  background:#f6f4ef;
  overflow-x:hidden;
  color:white;
}

/* ===== HERO ===== */
.hero{
  position:relative;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  overflow:hidden;
}

.background{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:0;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.70));
  z-index:1;
}

/* النص */
.hero-content{
  position:relative;
  z-index:2;
  width:90%;
  max-width:900px;

  opacity:0;
  transform:translateY(20px);
  transition:1.5s ease;
}

/* ظهور النص بعد 3 ثواني */
.hero.show .hero-content{
  opacity:1;
  transform:translateY(0);
}

/* العناوين */
.small{
  font-size:20px;
  margin-bottom:15px;
}

.hero-content h1{
  font-size:30px;
  line-height:1.6;
  margin-bottom:15px;
}

.hero-content h2{
  font-size:26px;
  margin-bottom:10px;
}

.hero-content h3{
  font-size:48px;
  color:#f4d58d;
  margin:20px 0;
}

/* الآية */
.bible-verse{
  font-size:18px;
  margin:20px 0;
  color:#f4e7c2;
  font-style:italic;
  line-height:1.8;
}

.bible-verse span{
  display:block;
  margin-top:8px;
  font-size:16px;
  color:#f4d58d;
}

/* باقي النص */
.verse{
  font-size:18px;
  margin:8px 0;
  line-height:1.6;
}

a{
  color:#f4d58d;
  text-decoration:none;
}

/* موبايل */
@media(max-width:768px){
  .hero-content h3{
    font-size:34px;
  }

  .hero-content h1{
    font-size:22px;
  }
}
